# Development artifacts
**/__pycache__
**/*.py[cod]
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.venv
**/venv
**/.env
**/.git
**/.gitignore
**/node_modules
**/*.log
**/*.tmp
**/dist
**/build
**/.idea
**/*.egg-info